.about{
    margin-top: 10px;
    box-shadow: 6px 6px 30px #7a7474;
    border-radius: 10px;
}
.aboutUpperPart{
    display: flex;
    justify-content:space-between;
}
.aboutUs{
    width: 25%;
    background-color: #ccf5da;
    text-align: center;
    border-radius: 5px;
    padding-top: 20px;
}
.aboutInfo{
    padding: 2%;
    width: 75%;
}
.redColor{
    color: #EE685F;
}
.greenColor{
    color: #98DBAF;
}
h1{
    font-size: 36px;
}
.horizontalLine{
    width: 70%;
    height: 3px;
    background-color: #f3aca7;
    margin: 20px;
}
.verticalLine{
  border: 3px solid #f5a39d;
}
.aboutLower{
    display: flex;
}
.lowerinfo{
    width: 25%;
    padding-top: 6px;
    margin-top: 30px;
    text-align: center;
}
.aboutimg{
    width: 75%;
    background-image: url("../../images/img11.jpg");
    background-size: cover;
    border-radius: 5px;
    margin-left: 2%;
}
.socialHandles{
   padding: 9px;
   font-size: 30px;
}
@media only screen and (max-width:850px) {
    .aboutUpperPart{
        display: inline-block;
    }
    .aboutUs{
        width: 100%;
    }
    .aboutInfo{
        width: 100%;
    }
    .lowerinfo{
       width: 100%;
    }
}

/* contact page styles  */

.contact{
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: 6px 6px 30px #8f8c8c;
    border-radius: 5px;
    /* border: 1px solid #EE685F; */
}
.contactLeft{
    width: 30%;
    background-image:url("../../images/img10.jpg") ;
    background-size: cover;
    border-radius: 5px;
    margin: 2%;
}
.contactRight{
    padding: 10px;
    margin: auto;
}
.inp{
   width: 100%;
   height: 60px;
   border: 1px solid #EE685F;
   border-radius: 15px;
   margin-top: 15px;
   padding-left: 20px;
}
.inp::placeholder{
    display: flex;
    align-items: center;
}
.contact-btn{
       display: flex;
       justify-content: flex-end;
}